---
layout: "socials-sidebar.liquid"
---

<link rel="stylesheet" href="/static/style/post.css">

<h1 id="title">{{ title }}</h1>

<h2 id="author">
  <em>by {{ author }}</em>
</h2>

{% if date %}

  <span class="date">{{ date | date: '%B %d, %Y' }}
    {% if updated %}(Updated {{ updated | date: '%B %d, %Y' }}){% endif %}
  </span>

{% endif %}

{% if header %}

  <div id="header">
    <img src="{{ header.src }}" alt="{{ header.alt }}">
  </div>

{% endif %}

{{ content }}

{% assign lasttag = tags | last %}
{%- if lasttag != "post" -%}
  <p id="tags">
    {% for tag in tags offset: 1 %}
      <span>#{{ tag }}</span>
    {% endfor %}
  </p>
{% endif %}